

/* Special offers block */
.products-grid, .special-offers-container  {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
  
}

.products-grid > *, .special-offers-container > * {
  min-height: 0;
}

/* Media queries to adjust grid layout based on screen size */
@media (max-width: 900px) {
  .products-grid,.special-offers-container  {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (max-width: 850px) {
  .products-grid, .special-offers-container {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
  .red-div {display: none;}
}

@media (max-width: 640px) {
  .products-grid, .special-offers-container  {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 550px) {
  .products-grid, .special-offers-container  {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

}

/* @media (max-width: 400px) {
  .products-grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
} */





.red-div {
    width: 268px;  /* Fixed width */
    flex-shrink: 0;
    overflow-y: auto;
    flex: 0 0 auto;
    border-right: 1px solid rgb(219, 215, 215);
    background-color: #f9f9f9;
    margin-top: 35px;
    padding: 0; /* Ensures items align properly */
  }




/* Log in */

.log-in-container {
  max-width: 250px;
 
  height: 80px;
  padding: 10px;
}

.log-in-text {
  font-size: 14px;
  margin-bottom: 10px;
  color: #221F1F;
  text-align: center;
  background-color: #e9e9e9;
  padding: 10px;
  border-radius: 5px;
  font-size: 14.5px;
}

.log-in-btn {
  width: 100%;
  padding: 8px;
  /* border-radius: 50px; */
  font-size: 15px;
text-align: center;
  margin-top: 10px;
  background-color: rgb(254, 189, 105);
  color: black;
  border: none;
  cursor: pointer;
}



.layout-container, .special-offers-container  {
  display: flex;
  height: auto;
}

.right-column {
  width: auto; 
  overflow-x: hidden; 
  overflow-y: auto; 
}









.product-container, .product-card {
  position: relative;
  padding-top: 75px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;

  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);

  display: flex;
  flex-direction: column;
}



.product-container:hover, .product-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: #ffa500;
}
@media (max-width: 850px) {
  .product-container:hover, .product-card:hover {
    transform: none;
  }
}
  


@media (max-width: 550px) {
  .product-image-container {
   align-items: normal !important;
}

}


.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px; /* Increased height for better image fitting */
  margin-bottom: 20px;
  overflow: hidden; /* Prevents any overflow beyond the container */
}

.product-image {
  max-width: 100%;
  /* max-height: 85%; */
  height: 196px;
  object-fit: contain;
}

.product-name {
  height: 40px;
  margin-bottom: 5px;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-rating-stars {
  width: 100px;
  margin-right: 6px;
}

.product-rating-stars-best {
  width: 80px;
}

.product-rating-count {
  color: rgb(1, 124, 182);
  cursor: pointer;
  margin-top: 3px;
}

.product-price {
  font-weight: 700;
  margin-bottom: 10px;

}

.product-quantity-container {
  margin-bottom: 17px;
}

.product-spacer {
  flex: 1;
}

.added-to-cart {
  color: rgb(6, 125, 98);
  font-size: 16px;

  display: flex;
  align-items: center;
  margin-bottom: 8px;
  opacity: 0;
}

.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.add-to-cart-button {
  width: 100%;
  padding: 8px;
  border-radius: 50px;
}







/* Main menu bar */
.menu-bar {
  /* position: fixed; */
  /* height: 70vh; */
  /* top: 60px; */
  /* width: 90%; */
  background-color: #fff;
  color: black;
  z-index: 1000;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}



.blur-products-grid {
  position: relative;
}

.blur-products-grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.menu-bar.hidden {
  display: none;
}

.menu-bar:not(.hidden) {
  display: flex;
}

/* Main menu list */
.menu-list {
  list-style-type: none;
  padding: 0;
  height: 20px;
  
}

.menu-list li {
  display: inline-block;
  margin: 0 20px;
 
}

.menu-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.menu-list li a:hover {
  text-decoration: underline;
}







/* Category list styles */
/* .category-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
 
} */

/* Main category item styles */
.category {
  
  position: relative;
  margin: 0;
  padding: 5px 10px;
  width: 100%;
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  opacity: 0.95;
  /* transition: background 0.3s ease, transform 0.2s ease, border-color 0.3s ease; */
  letter-spacing: 0.3px;
  /* border-radius: 6px; */
  display: flex;
  align-items: center;
  gap: 1px;
  
  /* Set border to prevent movement */
  border: 1px solid transparent;  
  box-sizing: border-box; /* Ensures border doesn’t change element size */
}

.category:hover {
  background: rgba(0, 0, 0, 0.05);
  border-color: rgb(231, 231, 231); /* Only change color, not width */
  /* transform: translateX(1px); */
}
/* .category-list {
  list-style: none;
  padding: 0;
  display: flex;
  
} */

.subcategory-link {
  display: flex;              /* Enable flexbox for the link */
  align-items: center;        /* Center content vertically */
  gap: 8px;                   /* Add space between the image and text */
}

/* .subcategory-list {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 200px;
  height: 400px;
  z-index: 999;
  color: black;

} */

.subcategory-list > li {
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  height: 32px;
  
    font-size: 1rem;

}

/* .category:hover .subcategory-list {
  display: block;
  transition: all 0.3s ease-in-out;
} */




#clothes-category, 
#electronics-category,
 #digital-content-category, 
 #personal-care-category, 
 #fashion-category, 
 #gift-cards-category {
  /* width: 100%; */
  list-style-type: none; 
  /* color: inherit;  */
  text-decoration: none;
  font-size: 14px;
  padding-left: 25px;
}


a {
 
  text-decoration: none; /* Removes underline */
  color: inherit; /* Makes the link inherit the text color of its parent */
}


.category-list {
  position: relative;
  display: flex;
  width: 280px;
  height: 235px;
  flex-wrap: wrap;
  color: #221f1f;
  opacity: 0.9;
  flex-shrink: 0;
  padding-left: 0px;
 

 
  


}






.subcategory-list {
  position: fixed;
  top: 60px;
  left: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 200px;
  height: auto;
  z-index: 999;
  color: black;
    font-size: 1rem;


}




.category:hover .subcategory-list {
  display: block;
  transition: all 0.3s ease-in-out;
}

.active .subcategory-list {
  display: block; /* Ensure it stays visible */
}


/* .menu-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60%;
  height: 70vh;
} */





.menu-right {
  /* width: 70.5%; */
  /* height: 70vh; */
  display: flex;
  flex-direction: column;
  /* border-left: 1px solid rgb(190, 189, 189); */
  /* align-items: flex-end; */
}

.menu-right li {
  list-style-type: none;
  margin: 10px 0;
  cursor: pointer;  
}


.menu-btn {
  position: absolute;
  right: -21%;
  bottom: -100%;
  display: inline-flex
;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 39px;
  width: 122%;
  cursor: pointer;
  background-color: rgb(254, 189, 105);
  color: #221f1f;
  border: none;
}
 



.menu-btn img {
  height: 20px;
  width: 20px;
  align-items: center;
  padding-right: 6px;

}


.category img {
  height: 20px;
  width: 20px;
  align-items: center;
  padding-right: 6px;
}
/* .ad-slider-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
} */

/* Main container */
.promotion-slider-container {
  position: relative;
  width: 100%;
  margin: 52px 0 0px 21px;
  overflow: hidden;
  border-radius: 10px;
}

/* Slider wrapper */
.promotion-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

/* Each slide */
.promotion-slide {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  border-radius: 10px;
}

.promotion-slide img {
  width: 95%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

/* Responsive styles */
@media (max-width: 688px) {
  .promotion-slide img {
    width: 95%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
  }

  .notify-about-items-in-cart.visible {
    width: 90% !important;
    padding: 10px 5px !important;
    height: 50px !important;
  }
}

@media (max-width: 460px) {
  .promotion-slide img {
    object-fit: cover;
    display: block;
    border-radius: 10px;
  }

  .notify-about-items-in-cart.visible {
    width: 85% !important;
    padding: 10px 5px !important;
    height: 80px !important;
    flex-wrap: wrap;
    gap: 2px !important;
  }

  .prev-button,
  .next-button {
    display: none;
  }
}


/* Navigation buttons */
.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  width: 45px; 
  height: 45px;
  padding: 0; 
  border-radius: 50%;
  display: flex; 
  justify-content: center;
  align-items: center; 
  transition: 0.3s ease-in-out;
}

.prev-button { left: 2%; }
.next-button { right: 7%; }

.prev-button:hover, .next-button:hover {
  background-color: rgb(233, 231, 231);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Indicators */
.indicator-container {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.indicator {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: red;
}

/* Responsive adjustments */
@media (max-width: 768px) {
 .indicator-container {
   display: none;
 }
}

/* @media (max-width: 480px) {
  .prev-button, .next-button {
    top: 35%;
  }
} */






/* POPUP */

.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.popup button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  
}

.popup button:hover {
  background-color: #ff0000;
}

.hidden {
  display: none;
}




.scroll-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 12px;
  /* font-size: 16px; */
  cursor: pointer;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */

    z-index: 10;
  
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-to-top.visible {
  opacity: 1; 
  visibility: visible;
}

/* #scrollToTopBtn { */
  /* position: fixed; */
  /* bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: rgb(254, 189, 105);  */

/* } */
#scrollToTopBtn img {
  height: 50px;
}













.product-detail {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.product-detail-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.product-detail-name {
  font-size: 24px;
  margin: 10px 0;
}

.product-detail-price {
  font-size: 20px;
  color: green;
  margin: 10px 0;
}

.product-detail-description {
  font-size: 16px;
  margin: 20px 0;
}

.product-details-container {
  margin-top: 110px;
}





/* ADMIN PANEL */
/* Delete button */
.close-button {
  height: 34px;
  position: relative;
  /* right: 29%; */
  width: 40px;
  left: 90%;
}

.edit-button {
  height: 29px;
  width: 29px;
  position: absolute;
}

.close-button:hover  {
  opacity: 0.7;
  
}

.custom-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.custom-popup-hidden {
  display: none;
}

.custom-popup-button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-popup-confirm-button {
  background-color: green;
  color: white;
}

.custom-popup-cancel-button {
  background-color: red;
  color: white;
}


/* @media (max-width: 850px) {
  .menu-bottom-850px {
    width: 100%; 
    height: 50px;
    background-color: #97978a;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    display: block;  
  }

  
  .menu-icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 100%; 
  } */
  
  /* .menu-icon {
    width: 24px; 
    height: 24px;
  } */

  .favourites-style {
    height: 20px;
    width: 20px;
    position: relative;
    left: 98%;
    top: -7%;
    stroke: #ffa900;
  }
  
  .favourite-active {
    stroke:#ffa900;
    fill: #ffa900;
  }
  .favourites-style:hover { 
    scale: 1.1;
  }


.menu-icon-desktop {
  position: absolute;
  bottom: 25%;
  left: 1%;
  fill: rgb(181, 56, 56);
}

/* .menu-icon-account {
  position: absolute;
  bottom: 41%;
  left: 18%;
} */




/* Hidden class to initially hide the banner */
.hidden {
  transform: translateX(100%); 
  opacity: 0;
  visibility: hidden;

}

/* When the ad is visible */
#promotion-banner {
  position: fixed;
  bottom: 10%;
  right: 20px;
  width: 260px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  transform: translateX(0); /* Bring back to the screen */
  opacity: 1;
  visibility: visible;
  transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
  padding: 25px;

}

.promotion-content {
  position: relative;
  padding: 10px;
}

.promotion-content-img {
display: flex;
justify-content: center;
}
.promotion-image {
  width: 60%;
  border-radius: 5px;
  max-width: 100%;  
}

.close-btn {
  position: absolute;
  top: -87px;
  right: -21px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: black;
}

.promotion-banner-text {
  padding: 10px;
  font-size: 20px;
  /* color: #ffa900; */
  /* border: 1px solid; */
  border-radius: 10px;
  background-color: #f0f0f0;
}

.ad-btn {
  width: 200px;
  height: 40px;
font-size: 20px;
}

.promotion-bottom-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/*  */











/* Buttons 1 2 3 etc on the bottom of page*/
#pagination-container {
  margin-top: 20px;
  text-align: center;
  border: none;
}

.page-button {
  margin: 0 5px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 25pc;
}

.page-button.active {
  font-weight: bold;
  background-color: #ffa900;
  color: white;
}

.page-button:hover {
  background-color: #ffa900;
  color: white;
  
}



/* LOGIN  POPUP */


.log-in-btn:hover {
  background-color: #e68a00;
}

/* Pop-up container */
.hidden {
  display: none;
}

.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Pop-up content */
.login-popup-content {
  background: #fff;
  padding: 30px 20px;
  border-radius: 8px;
  width: 360px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.login-popup-content h2 {
  font-size: 24px;
  color: #111;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 500;
}

/* Close button */
.close-popup-btn {
  position: absolute;
  right: 5%;
  top: 4%;
  padding: 5px 10px;
  transition: 0.3s ease-in-out;
  border: 1px solid #ff9900;
}

.close-popup-btn:hover {
  cursor: pointer;
  background-color: #ff9900;


}

/* Input fields */
form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

form input {
  width: 94%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

form input:focus {
  border-color: #ff9900;
  outline: none;
  box-shadow: 0 0 3px rgba(255, 153, 0, 0.5);
}

/* Submit button */
.submit-btn {
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

.submit-btn:hover {
  background-color: #e68a00;
}

/* Footer text */
.popup-footer {
  font-size: 12px;
  color: #666;
  text-align: center;
  margin-top: 20px;
}

.popup-footer a {
  color: #0066c0;
  text-decoration: none;
}

.popup-footer a:hover {
  text-decoration: underline;
}

/* stores */

.our-stores {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 15px;
  align-items: center;
  gap: 5px;
}


/* Special offers */

        /* Special Offers Section */
        /* .special-offers-container {
          width: 220px;
          border: 1px solid #ddd;
          border-radius: 10px;
          padding: 15px;
          text-align: center;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          background-color: white;
          transition: transform 0.3s ease;
          margin-right: 20px;
        } */






        /* Special Offers Container */
/* Special Offers Container */
/* Special Offers Container */
/* Special Offers Container */
/* Special Offers Container */

/* Special Offers Container */
#special-offers-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
  overflow: hidden; /* Prevent overflow */
  scroll-behavior: smooth; /* Smooth scrolling */
}

/* Slider Wrapper */
.slider-wrapper {
  display: flex;
  
  gap: 20px; /* Space between the cards */
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  justify-content: flex-start; /* Align items from the start */
  overflow-x: scroll; /* Make it scrollable */
  scroll-snap-type: x mandatory; /* Snap to the next card */
  -ms-overflow-style: none;  /* Hide scrollbar in IE */
  scrollbar-width: none;  /* Hide scrollbar in Firefox */
}



.special-offers-text {
  font-size: 24px;
  color: #111;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 500;
  padding-left: 30px;
}
/* Hide scrollbar in Webkit browsers (Chrome, Safari) */
.slider-wrapper::-webkit-scrollbar {
  display: none;
}

/* Product Cards */
.product-card {
  flex: 0 0 auto; /* Prevent shrinking or growing */
  width: calc(100% / 5 - 20px); /* Adjust width for 5 items per row on larger screens */
  box-sizing: border-box;
  padding: 10px;
  scroll-snap-align: start; /* Snap items to the left */
}

/* Slider Buttons */
.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: none;
  background-color: rgb(254, 189, 105);
  color: white;
  padding: 11px 14px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 1;
}

.slider-button.left {
  right: 75px;
  top: 6%;
}

.slider-button.right {
  right: 30px;
  top: 6%;

}

.slider-button:hover {
  /* background-color: rgba(0, 0, 0, 0.8); */
  opacity: 0.8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Adjustments for Medium Screens (Tablets) */
@media screen and (max-width: 1200px) {
  .product-card {
    width: calc(100% / 4 - 20px); /* 4 items per row on medium screens */
  }
}

/* Responsive Adjustments for Small Screens (Mobile) */
@media screen and (max-width: 768px) {
  .product-card {
    width: calc(100% / 3 - 20px); /* 3 items per row on small screens */
  }
}

@media screen and (max-width: 480px) {
  .product-card {
    width: calc(100% / 2 - 20px); /* 2 items per row on extra small screens */
  }
}


.product-in-stock {
  font-size: 14px;
  color: green;
}


.made-in-image {
  height: 32px;
  width: 32px;
  /* z-index: 1000; */
  position: absolute;
  top: 35px;
  left: 6px;
}



/* special-offers-buy-now-image  cart */
.special-offers-buy-now-image {
  width: 27px;
  height: 29px;
  bottom: 9px;
  right: 10px;
  z-index: 1;
  position: absolute;
}


/* added to cart notification */

.cart-popup {
  display: none; 
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(254, 189, 105);
  color: black;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.cart-popup.show {
  display: block;
  width: 60%;
  display: flex;
  justify-content: center;
  color: rgb(104, 85, 0); 

}




/* Notification about items in cart*/
/* Notification about items in cart*/
.notify-about-items-in-cart {
  display: none; /* Hidden by default */
}

.notify-about-items-in-cart.visible {
  display: flex;
  justify-content: center;
  height: 35px;
  gap: 15px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(67, 49, 49);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgb(201, 197, 197);
  font-size: 16px;
  width: 91.5%;

  margin: 51px 124px 0 24px;
  text-align: center;
}



.notify-about-items-in-cart ul {
  list-style-type: none;
  padding: 0;
}

.checkout-button {
  width: 150px;
  height: 40px;
  font-size: 14px;
  background-color: rgb(254, 189, 105);
  font-weight: bold ;
}


.userInfo {
  display: none; 
  width: 400px;
  height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* text-align: center; */
  margin: 0 auto;
  background-color: #e9e9e9;
}

.userInfo.show {
  display: block;
  /* transition: opacity 0.5s ease-in-out; */
  opacity: 1;
  margin-top: 28px;
  text-align: center;
  width: 92%;
  height: 66px;
  border-radius: 8px;
}
#userEmail {
  font-size: 0.9rem;
  opacity: 0.8;
}
.logout-btn {
  width: 140px;
  height: 30px;
  margin-top: 20px;
  background-color: rgb(254, 189, 105);
}


#loginPrompt {
  display: block; /* Show the login prompt by default */
}

#loginPrompt.hidden {
  display: none; /* Hide the login prompt when it's not needed */
}