



.product-detail {
    max-width: 100%;
    text-align: center;
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 100px;
}





.product-detail-left {

width:5 0%;

}

.product-detail-right {
    width: 50%;
    height: 400px;
    /* padding: 15px 25px; */
   
    display: inline-block; 
    text-align: left; 
    vertical-align: top; 
}

.product-detail-right-bottom {
    border: 1px solid #ddd;
    background-color: #fff; 
    border-radius: 12px;
 


    height: 396px;
}
  

  .product-seller-container {
    display: flex;
    align-items: center;
    gap: 15px; 
    /* border: 1px solid #ddd; */
    /* border-radius: 12px; */
    /* border-bottom: 1px solid rgb(224, 194, 130); */
    border-radius: 12px;
    /* border-bottom: 1px solid #eceaea; */



    max-width: 100%;
    padding: 10px 15px;
    justify-content: flex-start; 
    background-color: #fafafa; 

  }

  .product-seller-container > p {
opacity: 0.7;
  }
  
  .product-detail-in-stock {
    font-size: 0.9rem;
    color: green;
    margin-top: 10px;
    padding: 0px 15px;
  }
  

  .product-seller-image {
    width: auto; 
    max-width: 140px;
    height: 30px;

    object-fit: cover; 
  }






.product-detail-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.product-detail-name {
  font-size: 24px;
  margin: 10px 0;
  padding: 0px 25px;
  display: flex;
}

.product-detail-price {
    font-size: 28px;
    color: green;
    /* margin: 0px 0 10px 0; */
    padding: 0px 15px;

}

.product-detail-description {
  font-size: 16px;
  margin: 20px 0;
  padding: 0px 15px;

}

.product-details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 110px;
  }

.button-primary {
    color: rgb(33, 33, 33);
    background-color: rgb(255, 216, 20);
    border: 1px solid rgb(252, 210, 0);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
  }

  .add-to-cart-button {
    width: 40%;
    height: 40px;
    padding: 8px;
    margin-left: 20px;
    border-radius: 50px;
  }


  .favourites-style {
    height: 30px;
    width: 30px;
    position: relative;
    left: 58%;
    top: 4%;
    stroke: #ffa900;
}
  
  .favourite-active {
    stroke:#ffa900;
    fill: #ffa900;
  }
  .favourites-style:hover { 
    scale: 1.1;
  }






.product-rating-container {
    display: flex;
    padding: 5px 25px;
    margin-bottom: 10px;
  }
  
  .product-rating-stars {
    width: 100px;
    margin-right: 6px;
  }
  
  .product-rating-stars-best {
    width: 80px;
  }
  
  .product-rating-count {
    color: rgb(1, 124, 182);
    cursor: pointer;
    margin-top: 3px;
  }
  
  .product-price {
    font-weight: 700;
    margin-bottom: 10px;
  
  }

  .product-detail-purchase {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
  }

  .financing {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
  /* background-color: white; */
  }

  .financing-image {
    position: relative;
    top: 6px; 
    
}




.store-benefits {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 15px 20px;
    margin: 30px 0 15px 0; 
    /* border: 1px solid #ddd; */
    /* border-radius: 12px; */
    background-color: #f9f9f9; 
    /* border-radius: 10px; */
    flex-wrap: wrap; /
}

.store-benefit {
    display: flex;
    align-items: center;
    gap: 12px; 
    min-width: 200px; 
}

.store-benefits img {
    height: 40px; 
    width: auto; 
}

@media (max-width: 768px) {
    .store-benefits {
        flex-direction: column; 
        align-items: flex-start;
    }
}

