


.product-detail {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
  }
  
  .product-detail-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .product-detail-name {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .product-detail-price {
    font-size: 20px;
    color: green;
    margin: 10px 0;
  }
  
  .product-detail-description {
    font-size: 16px;
    margin: 20px 0;
  }
  
  .product-details-container {
    margin-top: 110px;
  }