

/* 
.amazon-header {
  background-color: rgb(19, 25, 33);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky; 
  position: sticky;
  top: 50px; 
  z-index: 500;
  
} */

/* .ad-banner {
  width: 100%;
  height: 0px;
  background-color: #511f1f; 
  color: white;
  text-align: center;
  line-height: 50px; 
  position: relative; 
  z-index: 1000; 
} */

.amazon-header {
  background-color: rgb(19, 25, 33);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 35px; /* This will make the header sticky once you scroll past the ad */
  z-index: 500;
}

.amazon-header.is-sticky {
  position: fixed;
  top: 0;
  width: inherit;
  margin: 0 auto;
  z-index: 1000;
}




/* .ad-banner {
  width: 100%;
  height: 50px;
  background-image: url('../../images/ads/ad-background.jpg');

  color: white;
  text-align: center;
  line-height: 50px; 
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 1000; 
} */

.ad-banner {
  width: 100%;
  height: 35px;
  background-image: url("../../images/ads/ad-background7.jpg");
  color: white;
  text-align: center;
  line-height: 36px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.amazon-header.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}


/* body {
  padding-top: 60px; 
} */



.amazon-header-left-section {
  width: 180px;
}

@media (max-width: 800px) {
  .amazon-header-left-section {
    width: unset;
  }
}

.header-link {
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
  border: 1px solid white;
}

.amazon-logo {
  width: 100px;
  margin-top: 5px;
}

.amazon-mobile-logo {
  display: none;
}

@media (max-width: 575px) {
  .amazon-logo {
    display: none;
  }

  .amazon-mobile-logo {
    display: block;
    height: 35px;
    margin-top: 5px;
  }
}

.amazon-header-middle-section {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.search-bar {
  flex: 0.95;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 420px) {
  .search-bar {
    flex: 0.85;
  }
  .search-icon {
    flex: 0.85;
  }
  /* .search-bar {
    display: none;
  } */
  .amazon-header-middle-section {
    flex: 1;
    max-width: 841px;
    margin-left: 21px;
    margin-right: 90px;
    display: flex;
}
  /* .search-button {
    border-radius: 4px;
   
  } */
  .orders-link {
    display: none;
  }
  .amazon-header-right-section {
    width: 1px !important;
  }
  .cart-text {
    display: none;
  }
}

.search-button {
  background-color: rgb(254, 189, 105);
  border: none;
  width: 45px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex: 0 0 45px; /* Prevent shrinking */
}



.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

.amazon-header-right-section {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.orders-link {
  color: white;
}

.returns-text {
  display: block;
  font-size: 13px;
}

.orders-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  width: 50px;
}

.cart-text {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
}

.cart-quantity {
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: 4px;
  left: 22px;
  
  width: 26px;
  text-align: center;
}

.account-icon {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;

  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
justify-content: bottom;
}


.account-icon:hover {
  border-left: 1px solid rgb(242, 242, 242);
  border-right: 1px solid rgb(242, 242, 242);

}